.appWrap {
  width: 100vw;
  height: 100vh;
  // background: rgb(40, 40, 50);
  // color: rgb(150, 150, 200);
}
.mainContentWrap {
  display: block;
  padding-top: 4rem;
  height: 100vh;
  overflow-y: auto;
}
.headerCell {
  cursor: pointer !important;
  user-select: none;
  &:hover {
    color: rgb(100, 100, 250) !important;
  }
}
.headerCellActive {
  color: rgb(100, 100, 250) !important;
  composes: headerCell;
}
